.forum-items{
  display: grid;
  margin-top: 200px;
  margin-bottom: 100px;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.forum-title{
  font-size: 5.4rem;
  grid-column: 1/ -1;
  max-width: 18ch;
  text-align: left;
  font-weight: 500;
  color: #222;
}

.forum-items > img{
  grid-row: 2;
  grid-column: 2;
  margin-bottom: 50px;
}

.forum-items > img {
  box-shadow: 10px 10px 0 #28476C;
  display: block;
  height: 400px;
  max-width: 500px;
  object-fit: cover;
}

.forum-paragraph{
  grid-column: 1;
  grid-row: 3;
  font-size: 3.2rem;
  text-align: center;
  grid-column: 1/ -1;
  max-width: 40ch;
  font-weight: 500;
  justify-self: center;
  color: #222;
}

.forum-button{
  cursor: pointer;
  display: flex;
  justify-self: center;
  padding: 12px 24px;
  font-size: 2.6rem;
  background-color: #28476C;
  color: white;
  border: 0;
  transition: .2s background;
  justify-content: center;
  align-self: center;
}

.forum-button:hover{
  background-color: #366196;
}

.forum-posts{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 4;
  grid-column: 1/ -1;
  gap: 32px 24px; 
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.post-logo{
  width: 100px;
}

.post-info{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows:  1fr;
  align-items: center;
  gap: 12px 16px;
}

.post-info img{
  grid-row: 1;
  grid-column: 1;
  border-radius: 50%;
  border: 2px #28476C solid;
}

.post-info p{
  grid-column: 1 / -1;
  grid-row: 2;
}

.post-info span{
  grid-column: 2;
}

.post-data{
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.post > img{
  border: #aaa 1px solid;
  border-radius: 4px;
}

@media(width <= 1000px){
  .forum-posts{
    grid-template-columns: 1fr;
    max-width: max-content;
  }
}

@media (width <= 800px){
  .forum-items{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

@media (width <= 500px){
  .forum-title{
    font-size: 4rem;
    text-align: center;
  }
  .forum-paragraph{
    font-size: 2.4rem;
  }
  .forum-items > img{
    height: 300px;
  }

  .forum-button{
    padding: 8px 16px;
    font-size: 2rem;
  }
}