.main-form{
    padding-top: 200px;
    padding-bottom: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
    gap: 50px;
    
}


form{
    display: flex;
    flex-direction: column;
    grid-column: 2;
    gap: 18px;
    align-self: center;
}

.form-gif{
    display: flex;
    grid-column: 1;
    grid-row: 1;
    align-items: center;
    object-fit: cover;
    position: relative;
    width: 400px;
}

.bg{
    position: fixed;
    background: #28476C;
    width: 50%;
    height: 100%;
    z-index: -1;
    margin-top: 10px;
}
label{
    font-size: 1.8rem;
}

input{
    border: 0;
    border-bottom: 1px #999 solid;
    border-radius: 0;

    /* background-color: rgb(255, 254, 254); */
}
