.main{
  margin-top: 150px;
  align-items: center;
  gap: 60px;
  margin-bottom: 200px;
}

.main-text{
  text-align: center;
  margin-bottom: 150px;
  color: #222;
}

.main-title{
  font-size: 10rem;
  position: relative;
  display: inline-block;
  font-weight: 600;
}

.main-title::before{
  content: "";
  position: absolute;
  background: url(img/wave.png) no-repeat;
  width: 170px;
  height: 50px;
  background-size: 100%;
  bottom: 15px;
  left: -20px;
}

.main-paragraph{
  margin-top: 12px;
  font-size: 2.2rem;
}

.map{
  /* grid-column: 2; */
}


.locals-title{
  font-size: 6.4rem;
  grid-row: 1;
  text-align: center;
  color: #222;
  font-weight: 600;
}

.locals{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  gap: 60px ;
  align-items: center;
}

.emphazis{
  color: #28476C;
}

/* Card */

.card-vantagem{
  font-size: 3.8rem;
  text-align: center;
  margin-bottom: 32px;
  font-weight: 600;
  color: #222;
  font-weight: 500;
}

.card-item p {
  color: #222;
  font-size: 1.8rem;
}

.card-content{
  color: white;
  
}

.card-content{
  display: flex;
  justify-content: center;
  justify-self: center;
  margin-bottom: 100px;
  justify-content: space-around;
  align-items: flex-start;
  gap: 25px;
  flex-wrap: wrap;
}

.card-content ul {
  background-color: #28476C;
  padding: 32px 44px;
  font-size: 1.6rem;
  max-width: 300px;
  border-radius: 4px;
}

.card-content li {
  line-height: 1.5;
  position: relative;
  flex-wrap: wrap;
}

.card-content li:not(:nth-child(4)){
  margin-bottom: 15px;
}

.card-content li::before{
  content: "";
  display: inline-block;
  background: url(img/feito.png) no-repeat;
  width: 25px;
  height: 25px;
  background-size: 100%;
  position: absolute;
  left: -30px;
}

@media (width <= 1000px){
  .locals{
    grid-template-columns: 1fr;
  }

  .map{
    justify-self: center;
    width: 500px;
    height: 500px;
  }

  .locals-title{
    font-size: 4.8rem;
  }

}

@media (width <= 600px){
  .map{
    width: 400px;
    height: 400px;
  }
}


@media (width <= 500px){
  .main-title{
    font-size: 6.6rem;
  }

  .main-text{
    margin-bottom: 80px;
  }

  .main-paragraph{
    font-size: 1.6rem;
  }


  .locals-title{
    font-size: 3.6rem;
  }


  @media (width <= 400px){
    .map{
      width: 300px;
      height: 300px;
    }
  }

}
