.main{
  margin-top: 150px;
  align-items: center;
  gap: 60px;
  margin-bottom: 200px;
}

.main-text{
  text-align: center;
  margin-bottom: 150px;
  color: #222;
}

.main-title{
  font-size: 10rem;
  position: relative;
  display: inline-block;
  font-weight: 600;
}

.main-title::before{
  content: "";
  position: absolute;
  background: url(img/wave.png) no-repeat;
  width: 170px;
  height: 50px;
  background-size: 100%;
  bottom: 15px;
  left: -20px;
}

.main-paragraph{
  margin-top: 12px;
  font-size: 2.2rem;
}

.map{
  /* grid-column: 2; */
}

.locals-title{
  font-size: 6.4rem;
  grid-row: 1;
  text-align: center;
  color: #222;
  font-weight: 600;
}

.locals{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  gap: 60px ;
  align-items: center;
}

.emphazis{
  color: #28476C;
}

@media (width <= 1000px){
  .locals{
    grid-template-columns: 1fr;
  }

  .map{
    justify-self: center;
    width: 300px;
    height: 400px;
  }

  .locals-title{
    font-size: 4.8rem;
  }
}

@media (width <= 500px){
  .main-title{
    font-size: 6.6rem;
  }

  .main-text{
    margin-bottom: 80px;
  }

  .main-paragraph{
    font-size: 1.6rem;
  }


  .locals-title{
    font-size: 3.6rem;
  }

  .map{
    width: 270px;
    height: 300px;
  }
}
