.footer {
  background-color: #28476C;
  color: white;
  padding: 30px;
}

.footer-items{
  display: flex;
  justify-content: space-around;
}

.footer-title{
  font-size: 4.8rem;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  display: flex;
  justify-content: start;
}

.footer-lumniz{
  grid-column: 1;
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  color: #eee;
}

.footer-lumniz::after{
  content: "";
  background: url(../img/lumniz-icon.png) no-repeat;
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 1;
  background-size: 50%;
  left: 90px;
  bottom: -50px;
  display: none;
}

.footer-item{
  font-size: 2.6rem;
  /* max-width: 300px; */
  justify-self: center;
}

.footer-item li{
  color: #eee;
}

.footer-item h3{
  font-weight: 500;
  margin-bottom: 13px;
}

.item-info{
  font-weight: 300;
  font-size: 2rem;
  color: #eee;
  line-height: 1.6;
}

.social-medias-items::before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  top: -16px;
  background-color: rgba(221, 221, 221, 0.377);
}



.social-medias-items{
  position: relative;
  display: flex;
  gap: 32px;
  justify-content: start;
  margin-top: 32px;
}

.social-medias-items img{
  display: flex;
  width: 40px;
}

img{
  width: 100%;
}

@media(width <= 1000px){
  .footer-title{
    justify-content: center;
  }

  .footer-lumniz{
    display: flex;
    justify-content: center;
  }

  .footer-lumniz::after{
    display: none;
  }

  .footer-items{
    display: flex;
    flex-direction: column;
  }

  .social-medias-items{
    margin-bottom: 32px;
  }

  .social-medias-items::before{
    max-width: 100%;
  }
}