.header{
  background-color: #28476C;
  color: #eee;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
}

.header-items{
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  gap: 20px;
}

.nav-items{
  display: flex;
  gap: 40px;
  font-size: 2.2rem;
  font-weight: 300;
}

.nav-items li{
  cursor: pointer;
  position: relative;
  text-align: center;
}

.nav-items li::before{
  content: "";
  width: 0%;
  height: 2px;
  background-color: #eee;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: .2s ease-out;
}

.nav-items li:hover::before{
  width: 100%;
}

.header-title{
  font-size: 48px;
  font-weight: bolder;
  font-weight: 500;
  cursor: pointer;
}



@media (width <= 800px){
  .header-items{
    flex-direction: column;
  }
  .nav-items{
    font-size: 1.8rem;
  }
}

@media (width <= 450px){
  .nav-items{
    font-size: 1.5rem;
  }
}